.card_add{
background-color: #f1f1f1; /* Set the background color */
width: 200px;
  background-size: cover; /* Adjust the background image size to cover the div */
  background-position: center center;
  border: 3px solid rgba(76, 130, 81, 1);
}

.card_add2{
background-color: #f1f1f1; /* Set the background color */
width: 500px;
  background-position: center center;
  border: 3px solid rgba(76, 130, 81, 1);
  item-align: center;
}

.crud1{
    text-align: center;
    align-items: center;
    font-weight: 700;
    background-color:rgba(76, 130, 81, 1);
}
.crud4{
    font-weight: 700;
    background-color:rgba(76, 130, 81, 1);
      display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
}
 .crud1 a{
  font-family: Poppins;
 align-items: center;
 rgba(76, 130, 81, 1);
 font-weight: 700;
 color:white;
 }
  .crud1 button{

  rgba(76, 130, 81, 1);
  font-weight: 700;
  color:white;
  display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
  }

  input[type=number] {
    width: 200px; /* Set the width of the input field */
    padding: 10px; /* Adjust the padding as desired */
    border: 1px solid green; /* Add a border to the input field */
    border-radius: 4px; /* Add rounded corners to the input field */
    font-size: 16px; /* Set the font size */
    /* Add more styles as needed */
    margin-bottom:10px
  }


  .cards8{
   position: relative;
      overflow: hidden;
        margin: 0; /* Remove default margin */
        padding: 0; /* Remove default padding */
        background-color: #A9D9B1; /* Set background color */
        width: 100%;
  }

  .card9{

  position: relative;
  overflow: hidden;
  background-color: white;
  }

.card10{
 font-family: Poppins;
  align-items: center;
}

.crud0{
font-weight: 500;
width: 200px;
 font-family: Poppins;
  align-items: center;
  background-color:rgba(76, 130, 81, 1);
}