<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="/css/order.css">
</head>
<header>
    <div class="logo">
        <a href="/"><h1>ETHNO.KG</h1></a>
    </div>
    <div class="search">
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search products">
            <button  type="submit">search</button>
        </form>
    </div>
</header>
<body>
<div class="ee"><a class="ee" href="/admin/ud">Edit products</a><a class="ee" href="/admin/orders">See orders</a></div>
<H2>ADMIN PANEL (adding products)</H2>

<div class="admin">
    <form method="post" action="/admin" class="form" enctype="multipart/form-data">
        <p>
            <label for="date">NAME:</label>
            <input type="text" name="name" id="date" />
        </p>
        <p>
            <label for="description"><span class="formTextRed"></span> DESCRIPTION:</label>
            <textarea type="text" name="description" id="description"></textarea>
        </p>
        <p>
            <label for="price"><span class="formTextRed"></span> PRICE:</label>
            <input type="text" name="price" id="price" />
        </p>
        <p>
            <label for="color">COLOR:</label>
            <input type="text" name="color" id="color" />
        </p>
        <p>
            <label for="file">SELECT FILE:</label>
            <input type="file" name="file" id="file"/>
        </p>



        <p class="submit">
            <input type="submit" value="submit" />
        </p>
    </form>

</div>
</body>
</html>