<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order page</title>
    <link rel="stylesheet" type="text/css" href="/css/order.css">
    <link rel="stylesheet" type="text/css" href="/css/catalog.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/adittionals.css">
</head>
<header>
    <div class="logo">
        <a href="/"><h1>ETHNO.KG</h1></a>
    </div>
    <div class="search">
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search products">
            <button  type="submit">search</button>
        </form>
    </div>
    <div class="icons">
        <a href="/order"><img src="/img/box.png" alt="Иконка 1"></a>
        <a href="/cart"><img src="/img/cart.png" alt="Иконка 2"></a>
        <img src="/img/user.png" alt="Иконка 3">
    </div>
</header>
<body >
<div class="ee"><a class="ee" href="/admin">Add products</a><a class="ee" href="/admin/ud">Edit products</a></div>

<h2>ALL ORDERS</h2>




<div th:each="orders : ${orders}" class="cards8">
    <p th:text="'Order # '+${orders.orderId}" ></p>
    <p th:text="'Name: '+${orders.customerName}"></p>
    <p><a class="card_name" th:text="'Address: '+${orders.address}"></a></p>
    <p class="cards8">Chosen items:</p>
    <div class = "cards8" th:each="fav : ${fav}">
        <p class="cards8" th:text="'name: '+${fav.favName}"></p>
        <p  th:text="'quantity: '+${fav.quantity}"></p>
    </div>
    <div class="crud1" >
        <a class="crud1" th:href="'/order/delete/'+${orders.orderId}">DELETE</a>
    </div>
</div>

<footer>
    <div>
        <ul>
            <li>
                Catalog
            </li>
            <li>
                Production
            </li>
            <li>
                Recommendations for tourists
            </li>
            <li>
                Rent of yurts
            </li>
        </ul>
        <ul>
            <li><a href="#">Contacts:</a></li>
            <li><a href="#">+996557951000</a></li>
            <li><a href="#">email:ethnokg@gmail.com</a></li>
            <li><a href="#">address: Kyrgyzstan, Bishkek, Asanbay</a></li>
        </ul>
        <ul>
            <li><a>Social media:</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Tiktok</a></li>
        </ul>
    </div>
</footer>
</body>
</html>