<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ethno.kg</title>
    <link rel="stylesheet" type="text/css" href="/css/catalog.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><h1>ETHNO.KG</h1></a>
    </div>
    <div class="search">
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search products">
            <button  type="submit">search</button>
        </form>
    </div>
    <div class="icons">
        <a href="/order"><img src="/img/box.png" alt="Иконка 1"></a>
        <a href="/cart"><img src="/img/cart.png" alt="Иконка 2"></a>
        <img src="/img/user.png" alt="Иконка 3">
    </div>
</header>
<main>
    <div class = "start">
        <h3>CATALOG</h3>
    </div>
    <div class="cards">
        <div th:each="product : ${product}" class="card">
            <!-- Верхняя часть -->
            <div class="card__top">
                <!-- Изображение-ссылка товара -->
                <a th:href="'/catalog/'+${product.id}" class="card__image">
                    <img
                            th:src="@{'data:image/jpeg;base64,'+${product.image}}"
                            alt="Товар"
                    />
                </a>
                <a class="card_name" th:text="${product.name}"></a>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class = "bestsell">
        <h4>BEST SELLING PRODUCTS</h4>
    </div>
    <div class = "products">
        <div th:each="product : ${mostViewedProducts}" class = "product">
            <p>Best selling</p>
            <p th:text="'Views: '+ ${product.viewCount}"></p>
            <img th:src="@{'data:image/jpeg;base64,'+${product.image}}" style="width: px; height: 279px;">
            <h4 th:text="${product.name}"></h4>
        </div>
    </div>
    <div class="line"></div>
</main>
<footer>
    <div>
        <ul>
            <li>
                Catalog
            </li>
            <li>
                Production
            </li>
            <li>
                Recommendations for tourists
            </li>
            <li>
                Rent of yurts
            </li>
        </ul>
        <ul>
            <li><a href="#">Contacts:</a></li>
            <li><a href="#">+996557951000</a></li>
            <li><a href="#">email:ethnokg@gmail.com</a></li>
            <li><a href="#">address: Kyrgyzstan, Bishkek, Asanbay</a></li>
        </ul>
        <ul>
            <li><a>Social media:</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Tiktok</a></li>
        </ul>
    </div>
</footer>
</body>
</html>


