<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ethno.kg</title>
    <link rel="stylesheet" type="text/css" href="/css/catalog.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="/"><h1>ETHNO.KG</h1></a>
    </div>
    <div class="search">
        <form method="get" action="/search">
            <input type="text" name="query" placeholder="Search products">
            <button  type="submit">search</button>
        </form>
    </div>
    <div class="icons">
        <a href="/order"><img src="/img/box.png" alt="Иконка 1"></a>
        <a href="/cart"><img src="/img/cart.png" alt="Иконка 2"></a>
        <img src="/img/user.png" alt="Иконка 3">
    </div>
</header>
<main>
    <div class="container">
        <nav class="navigation">
            <ul>
                <li><a href="/catalog">Catalog</a></li>
                <li><a href="#">Production</a></li>
                <li><a href="#">Tours</a></li>
                <li><a href="#">Yurts</a></li>
            </ul>
        </nav>
        <div class="landing-text">
            <h1>KYRGYZSTAN</h1>
            <h1>THE EIGHTH WONDER OF THE WORLD</h1>
        </div>
    </div>
    <div class = "start">
        <h3>ONE VILLAGE - ONE PRODUCT</h3>
    </div>
    <div class="image-row">
        <div class="image-container">
            <a href="/catalog"><img src="/img/cataloghome.jpg"></a>
            <p>CATALOG</p>
            <p>HERE YOU CAN FIND OUR PRODUCTS</p>
        </div>
        <div class="image-container">
            <img src="/img/rechome.jpg">
            <p>RECOMMENDATIONS FOR TOURISTS</p>
            <p>HERE IS INFORMATION FOR TOURISTS</p>
        </div>
        <div class="image-container">
            <img src="/img/yurt.jpg">
            <p>RENT OF YURTS</p>
            <p>HERE YOU CAN RENT A YURT</p>
        </div>
    </div>

    <div class="kyr">
        <img src="/img/kyr1.png" alt="Image 1">
        <div class="kyrtext"></div>
        <div class="text">
            <h3>KYRGYZSTAN</h3>
            <p>Kyrgyzstan, a landlocked country in Central Asia, is known for its breathtaking natural beauty and rich cultural heritage. With towering mountain ranges, pristine alpine lakes, and vast stretches of rolling grasslands, Kyrgyzstan is a paradise for outdoor enthusiasts and adventure seekers.
                Kyrgyzstan is also famous for its vibrant culture and traditions, which are deeply rooted in nomadic lifestyles. The Kyrgyz people are renowned for their hospitality, and visitors to the country can expect to be welcomed with open arms. Traditional Kyrgyz cuisine, which includes hearty dishes like lagman noodles and beshbarmak, is a must-try for foodies.</p></div>
        <div class="kyr2"></div>
        <img src="/img/kyr2.png" alt="Image 2">
    </div>
    <div class="aboutus">
        <h3>ABOUT US</h3>
        <p>Our company is an online ethnic store specializing in selling high-quality products that reflect the rich culture of Kyrgyzstan. We only work with talented artisans and manufacturers who use natural materials and traditional techniques to create unique items.<br>
            We invite you to visit our store and enjoy the unique traditional products of Kyrgyzstan. Thank you for your support and purchases!</p>
        <img src="/img/girl.png">
    </div>
    <div class = "circle">
        <ul class = "circle1"><img src="/img/circle1.png"></ul>
        <ul class = "circle2"><img src="/img/circle2.png"></ul>
        <p>We are proud to offer a wide selection of traditional products such as national clothing, hats, bags, carpets, dried fruits, nuts, honey, and more. All of our products are made in Kyrgyzstan using natural and environmentally friendly ingredients.<br>
            We believe that our products not only have high quality but also have their own history and cultural significance. Each item you find in our store has a unique design and reflects the traditions and heritage of Kyrgyzstan.<br>
            Our goal is to represent the culture of Kyrgyzstan worldwide and help preserve our traditions and heritage. We are proud to contribute to the preservation of the unique culture of our country while creating job opportunities for talented artisans and manufacturers.</p>
    </div>

    <div class = "production">
        <div class = "pro1"><img src="/img/pro1.png"></div>
        <div class = "pro2"><img src="/img/pro2.png"></div>
        <h2>PRODUCTION</h2>
        <a>LEARN MORE</a>
    </div>
    <footer>
        <div>
            <ul>
                <li>
                    Catalog
                </li>
                <li>
                    Production
                </li>
                <li>
                    Recommendations for tourists
                </li>
                <li>
                    Rent of yurts
                </li>
            </ul>
            <ul>
                <li><a href="#">Contacts:</a></li>
                <li><a href="#">+996557951000</a></li>
                <li><a href="#">email:ethnokg@gmail.com</a></li>
                <li><a href="#">address: Kyrgyzstan, Bishkek, Asanbay</a></li>
            </ul>
            <ul>
                <li><a>Social media:</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Tiktok</a></li>
            </ul>
        </div>
    </footer>
</main>

</body>
</html>


